@import "global";
.left{
  width: 200px;
  margin: 10px;
  background-color: blanchedalmond;
}
.hole{
  width: 50px;
}
.cardCol{
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}
.leftWords{
  margin-top: 2px;
  //height: 31px;
  //margin: 0;
  //padding: 0;
}
